<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>

	<add name="ConnectionString" connectionString="Data Source=103.20.213.74;Initial Catalog=stagging_gitprojects;User Id=stagginggitprojects;Password=asyPP@#123;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>
	  <!--<add name="ConnectionString" connectionString="Data Source=103.20.213.74;Initial Catalog=admin_gitprojects;User Id=gitprojects;Password=fitxyj@!222s;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="500000"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60"/>
    <httpRuntime executionTimeout="540000" maxRequestLength="2097151" requestValidationMode="2.0" requestLengthDiskThreshold="15360"/>
    <!--<customErrors defaultRedirect='~/default.aspx' mode='On'>
      <error statusCode='404' redirect='~/default.aspx'/>
    </customErrors>-->
    <machineKey validationKey="EA663258AE92FD89835D260126848155129586911F55CB3182970269001CFAE8031539AFAFD68B94523F44EBB80EA802EA33D6A12F7B32551108F08801269BC7" decryptionKey="8A1357EF3B84393C0DEF30ED6ECDBB08C0B2E8F736104A58750BEE1BC9CE5D6F" validation="SHA1" decryption="AES"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" tempDirectory=""/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="120"/>
    </authentication>
    <!-- <authorization>
      <allow users="*"/>
    </authorization>
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
    <customErrors mode="Off" defaultRedirect="404.htm">
      <error statusCode="403" redirect="404.htm"/>
      <error statusCode="404" redirect="404.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <identity impersonate="false"/>
  </system.web>
  <system.webServer>

	  <!--enabling cors-->
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="Content-Type" />
			  <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
		  </customHeaders>
	  </httpProtocol>
	  <handlers>
		  <!-- Remove the default OPTIONS verb handler -->
		  <remove name="OPTIONSVerbHandler" />

		  <!-- Add a custom handler to handle OPTIONS requests -->
		  <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" type="System.Web.HttpMethodOverrideHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" preCondition="integratedMode" />
	  </handlers>


	  <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.asp"/>
        <add value="default.html"/>
        <add value="default.php"/>
        <add value="index.aspx"/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"/>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>